
body {
    font-family: Arial, sans-serif; /* sets the font to Arial */
    background-color: rgb(243, 235, 227);/* sets the background color  */
  }
  
  .container {
    /* Max container width */
    max-width: 800px;

    /* Margin and center alignment */
    margin: 50px auto;

    /* Centered text */
    text-align: center;

     /* Background color */
    background-color: #6c94bc;

        /* Padding around content */
    padding: 20px;

    /* Rounded corners */
    border-radius: 8px;

    /* Box shadow for depth */
    box-shadow: 0 0 10px rgba(34, 32, 32, 0.87);
  }
  

  
  #a {
    background-color: #154610;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
  }
  
  /* Add hover effect to 'a' element */
  #a:hover {
    background-color: #a05a45;
  }

  #b {
    background-color: #634caf;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
  }
  
  #b:hover {
    background-color: #4588a0;
  }
  
  #panels {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .panel {
    width: 30%;
    margin-bottom: 50px;
  }
  
  /* 100% width, margin, and rounded borders */
  #comicOutput img {
    max-width: 100%;
    margin-top: 20px;
    border-radius: 8px;
  }
  h1,label{
    color: #141313;
  }
  textarea {
    margin-left: 62%;
  }
  label{
    margin-left: 55%;
  }
  h1,label{
    color: #fff;
  }
  