
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  .container {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
    background-color: #c64ea8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(34, 32, 32, 0.87);
  }
  
  #a {
    background-color: #154610;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
  }
  
  #a:hover {
    background-color: #a05a45;
  }
  #b {
    background-color: #634caf;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
  }
  
  #b:hover {
    background-color: #4588a0;
  }
  
  #panels {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .panel {
    width: 30%;
    margin-bottom: 50px;
  }
  
  #comicOutput img {
    max-width: 100%;
    margin-top: 20px;
    border-radius: 8px;
  }
  h1,label{
    color: #141313;
  }
  textarea {
    margin-left: 62%;
  }
  label{
    margin-left: 55%;
  }
  